In [ ]:
import pandas as pd
import csv
import gpxpy
import os
import numpy as np

In [ ]:
print("Current Working Directory:", os.getcwd())

Current Working Directory: /home/jovyan/Thesis /PREPROCESSING AT /Filtering and Matching/WARUKU

In [ ]:
def gpx_to_csv(gpx_file_path, csv_folder_path):
    if not os.path.exists(csv_folder_path):
        os.makedirs(csv_folder_path)
    gpx_files = [f for f in os.listdir(gpx_file_path) if f.endswith('.gpx')]

    for gpx_file_name in gpx_files
        gpx_file_full_path = os.path.join(gpx_file_path, gpx_file_name)
        csv_file_name = os.path.splitext(gpx_file_name)[0] + "WARGPX.csv"
        csv_file_full_path = os.path.join(csv_folder_path, csv_file_name)
        with open(gpx_file_full_path, 'r') as gpx_file:
            gpx = gpxpy.parse(gpx_file)

            with open(csv_file_full_path, 'w', newline='') as csv_file:
                csv_writer = csv.writer(csv_file)
                csv_writer.writerow(["Name", "Latitude", "Longitude", "Elevation","DateTime" ])

                for track in gpx.tracks:
                    for segment in track.segments:
                        for point in segment.points:
                            csv_writer.writerow([point.name, point.latitude, point.longitude, point.elevation, point.time])

if __name__ == "__main__":
    gpx_folder_path = "/home/jovyan/Thesis /PREPROCESSING AT /Filtering and Matching/WARUKU/GPX_RAW"
    csv_folder_path = "/home/jovyan/Thesis /PREPROCESSING AT /Filtering and Matching/WARUKU/GPX_CSV"
    gpx_to_csv(gpx_folder_path, csv_folder_path)

In [ ]:
directory = "/home/jovyan/Thesis /PREPROCESSING AT /Filtering and Matching/WARUKU/GPX_CSV"
output_dict = {}
for csv_file_name in os.listdir(directory):
    if csv_file_name.endswith(".csv"):
        csv_file_path = os.path.join(directory, csv_file_name)
        GPX_df = pd.read_csv(csv_file_path)
        GPX_df['DateTime'] = pd.to_datetime(GPX_df['DateTime'])
        GPX_df['Actual_Datetime'] = GPX_df['DateTime'] + pd.Timedelta(hours=3)
        output_dict[csv_file_name] = GPX_df
        output_dict

{'(5)WARGPX.csv':      Name  Latitude  Longitude  Elevation                  DateTime  \
 0     NaN -1.269449  36.758399    1792.52 2024-02-08 11:05:55+00:00
 1     NaN -1.269358  36.758379    1775.69 2024-02-08 11:06:15+00:00
 2     NaN -1.269376  36.758372    1778.58 2024-02-08 11:06:35+00:00
 3     NaN -1.269358  36.758367    1776.65 2024-02-08 11:06:55+00:00
 4     NaN -1.269365  36.758357    1776.65 2024-02-08 11:07:15+00:00
 ..    ...       ...        ...        ...                       ...
 681   NaN -1.269387  36.758484    1787.71 2024-02-08 14:53:14+00:00
 682   NaN -1.269369  36.758438    1783.38 2024-02-08 14:53:34+00:00
 683   NaN -1.269413  36.758500    1782.42 2024-02-08 14:53:54+00:00
 684   NaN -1.269450  36.758475    1783.38 2024-02-08 14:54:14+00:00
 685   NaN -1.269373  36.758460    1782.42 2024-02-08 14:54:34+00:00

               Actual_Datetime
 0   2024-02-08 14:05:55+00:00
 1   2024-02-08 14:06:15+00:00
 2   2024-02-08 14:06:35+00:00
 3   2024-02-08 14:06:55+00:00
 4   2024-02-08 14:07:15+00:00
 ..                        ...
 681 2024-02-08 17:53:14+00:00
 682 2024-02-08 17:53:34+00:00
 683 2024-02-08 17:53:54+00:00
 684 2024-02-08 17:54:14+00:00
 685 2024-02-08 17:54:34+00:00

 [686 rows x 6 columns],
 '(2)WARGPX.csv':      Name  Latitude  Longitude  Elevation                  DateTime  \
 0     NaN -1.269396  36.758310    1730.03 2024-02-08 10:49:19+00:00
 1     NaN -1.269385  36.758313    1730.03 2024-02-08 10:49:22+00:00
 2     NaN -1.269517  36.758419    1718.97 2024-02-08 11:17:49+00:00
 3     NaN -1.269430  36.758326    1738.20 2024-02-08 11:18:10+00:00
 4     NaN -1.269432  36.758338    1756.47 2024-02-08 11:18:30+00:00
 ..    ...       ...        ...        ...                       ...
 654   NaN -1.269461  36.758566    1791.07 2024-02-08 14:55:11+00:00
 655   NaN -1.269445  36.758509    1787.71 2024-02-08 14:55:31+00:00
 656   NaN -1.269426  36.758567    1791.07 2024-02-08 14:55:51+00:00
 657   NaN -1.269443  36.758547    1789.15 2024-02-08 14:56:11+00:00
 658   NaN -1.269445  36.758511    1789.15 2024-02-08 14:56:31+00:00

               Actual_Datetime
 0   2024-02-08 13:49:19+00:00
 1   2024-02-08 13:49:22+00:00
 2   2024-02-08 14:17:49+00:00
 3   2024-02-08 14:18:10+00:00
 4   2024-02-08 14:18:30+00:00
 ..                        ...
 654 2024-02-08 17:55:11+00:00
 655 2024-02-08 17:55:31+00:00
 656 2024-02-08 17:55:51+00:00
 657 2024-02-08 17:56:11+00:00
 658 2024-02-08 17:56:31+00:00

 [659 rows x 6 columns],
 '(9)WARGPX.csv':      Name  Latitude  Longitude  Elevation                  DateTime  \
 0     NaN -1.269306  36.758424    1790.59 2024-02-08 10:59:29+00:00
 1     NaN -1.269302  36.758336    1780.50 2024-02-08 10:59:49+00:00
 2     NaN -1.269380  36.758318    1775.21 2024-02-08 11:00:09+00:00
 3     NaN -1.269398  36.758381    1786.75 2024-02-08 11:00:29+00:00
 4     NaN -1.269366  36.758349    1787.23 2024-02-08 11:00:49+00:00
 ..    ...       ...        ...        ...                       ...
 701   NaN -1.269414  36.758434    1772.33 2024-02-08 14:53:31+00:00
 702   NaN -1.269390  36.758411    1763.20 2024-02-08 14:53:51+00:00
 703   NaN -1.269357  36.758385    1758.87 2024-02-08 14:54:11+00:00
 704   NaN -1.269358  36.758362    1760.79 2024-02-08 14:54:31+00:00
 705   NaN -1.269357  36.758354    1769.44 2024-02-08 14:54:51+00:00

               Actual_Datetime
 0   2024-02-08 13:59:29+00:00
 1   2024-02-08 13:59:49+00:00
 2   2024-02-08 14:00:09+00:00
 3   2024-02-08 14:00:29+00:00
 4   2024-02-08 14:00:49+00:00
 ..                        ...
 701 2024-02-08 17:53:31+00:00
 702 2024-02-08 17:53:51+00:00
 703 2024-02-08 17:54:11+00:00
 704 2024-02-08 17:54:31+00:00
 705 2024-02-08 17:54:51+00:00

 [706 rows x 6 columns],
 '(7)WARGPX.csv':      Name  Latitude  Longitude  Elevation                  DateTime  \
 0     NaN -1.269018  36.758032    1608.90 2024-02-08 11:04:24+00:00
 1     NaN -1.269427  36.758284    1643.99 2024-02-08 11:04:43+00:00
 2     NaN -1.269423  36.758410    1729.07 2024-02-08 11:05:03+00:00
 3     NaN -1.269401  36.758350    1769.44 2024-02-08 11:05:23+00:00
 4     NaN -1.269418  36.758334    1773.29 2024-02-08 11:05:43+00:00
 ..    ...       ...        ...        ...                       ...
 695   NaN -1.269430  36.758398    1774.25 2024-02-08 14:56:03+00:00
 696   NaN -1.269416  36.758426    1776.17 2024-02-08 14:56:23+00:00
 697   NaN -1.269457  36.758466    1769.92 2024-02-08 14:56:43+00:00
 698   NaN -1.269412  36.758424    1771.37 2024-02-08 14:57:03+00:00
 699   NaN -1.269365  36.758418    1774.73 2024-02-08 14:57:23+00:00

               Actual_Datetime
 0   2024-02-08 14:04:24+00:00
 1   2024-02-08 14:04:43+00:00
 2   2024-02-08 14:05:03+00:00
 3   2024-02-08 14:05:23+00:00
 4   2024-02-08 14:05:43+00:00
 ..                        ...
 695 2024-02-08 17:56:03+00:00
 696 2024-02-08 17:56:23+00:00
 697 2024-02-08 17:56:43+00:00
 698 2024-02-08 17:57:03+00:00
 699 2024-02-08 17:57:23+00:00

 [700 rows x 6 columns],
 '(1)WARGPX.csv':       Name  Latitude  Longitude  Elevation                  DateTime  \
 0      NaN -1.269488  36.758411    1823.76 2024-02-08 11:16:31+00:00
 1      NaN -1.269424  36.758349    1811.74 2024-02-08 11:16:42+00:00
 2      NaN -1.269413  36.758348    1804.05 2024-02-08 11:16:52+00:00
 3      NaN -1.269387  36.758343    1798.28 2024-02-08 11:17:02+00:00
 4      NaN -1.269381  36.758332    1797.32 2024-02-08 11:17:12+00:00
 ...    ...       ...        ...        ...                       ...
 1323   NaN -1.269396  36.758539    1806.45 2024-02-08 14:57:02+00:00
 1324   NaN -1.269394  36.758564    1804.53 2024-02-08 14:57:12+00:00
 1325   NaN -1.269397  36.758561    1800.69 2024-02-08 14:57:22+00:00
 1326   NaN -1.269405  36.758543    1798.76 2024-02-08 14:57:32+00:00
 1327   NaN -1.269428  36.758513    1798.28 2024-02-08 14:57:42+00:00

                Actual_Datetime
 0    2024-02-08 14:16:31+00:00
 1    2024-02-08 14:16:42+00:00
 2    2024-02-08 14:16:52+00:00
 3    2024-02-08 14:17:02+00:00
 4    2024-02-08 14:17:12+00:00
 ...                        ...
 1323 2024-02-08 17:57:02+00:00
 1324 2024-02-08 17:57:12+00:00
 1325 2024-02-08 17:57:22+00:00
 1326 2024-02-08 17:57:32+00:00
 1327 2024-02-08 17:57:42+00:00

 [1328 rows x 6 columns],
 '(6)WARGPX.csv':      Name  Latitude  Longitude  Elevation                  DateTime  \
 0     NaN -1.269310  36.758331    1729.07 2024-02-08 11:20:34+00:00
 1     NaN -1.269347  36.758331    1762.23 2024-02-08 11:20:54+00:00
 2     NaN -1.269389  36.758322    1785.31 2024-02-08 11:21:14+00:00
 3     NaN -1.269399  36.758302    1789.63 2024-02-08 11:21:34+00:00
 4     NaN -1.269407  36.758303    1791.55 2024-02-08 11:21:54+00:00
 ..    ...       ...        ...        ...                       ...
 635   NaN -1.269413  36.758499    1788.67 2024-02-08 14:58:44+00:00
 636   NaN -1.269489  36.758553    1792.52 2024-02-08 14:59:04+00:00
 637   NaN -1.269484  36.758539    1795.40 2024-02-08 14:59:24+00:00
 638   NaN -1.269437  36.758525    1796.84 2024-02-08 14:59:44+00:00
 639   NaN -1.269419  36.758522    1799.73 2024-02-08 15:00:04+00:00

               Actual_Datetime
 0   2024-02-08 14:20:34+00:00
 1   2024-02-08 14:20:54+00:00
 2   2024-02-08 14:21:14+00:00
 3   2024-02-08 14:21:34+00:00
 4   2024-02-08 14:21:54+00:00
 ..                        ...
 635 2024-02-08 17:58:44+00:00
 636 2024-02-08 17:59:04+00:00
 637 2024-02-08 17:59:24+00:00
 638 2024-02-08 17:59:44+00:00
 639 2024-02-08 18:00:04+00:00

 [640 rows x 6 columns],
 '(3)WARGPX.csv':      Name  Latitude  Longitude  Elevation                  DateTime  \
 0     NaN -1.269390  36.758371    1774.25 2024-02-08 11:14:23+00:00
 1     NaN -1.269360  36.758351    1777.61 2024-02-08 11:14:43+00:00
 2     NaN -1.269350  36.758336    1779.54 2024-02-08 11:15:03+00:00
 3     NaN -1.269373  36.758339    1778.58 2024-02-08 11:15:23+00:00
 4     NaN -1.269403  36.758343    1780.98 2024-02-08 11:15:43+00:00
 ..    ...       ...        ...        ...                       ...
 651   NaN -1.269418  36.758501    1792.03 2024-02-08 14:51:23+00:00
 652   NaN -1.269440  36.758485    1788.19 2024-02-08 14:51:43+00:00
 653   NaN -1.269438  36.758476    1791.07 2024-02-08 14:52:03+00:00
 654   NaN -1.269404  36.758463    1789.63 2024-02-08 14:52:23+00:00
 655   NaN -1.269375  36.758479    1791.55 2024-02-08 14:52:43+00:00

               Actual_Datetime
 0   2024-02-08 14:14:23+00:00
 1   2024-02-08 14:14:43+00:00
 2   2024-02-08 14:15:03+00:00
 3   2024-02-08 14:15:23+00:00
 4   2024-02-08 14:15:43+00:00
 ..                        ...
 651 2024-02-08 17:51:23+00:00
 652 2024-02-08 17:51:43+00:00
 653 2024-02-08 17:52:03+00:00
 654 2024-02-08 17:52:23+00:00
 655 2024-02-08 17:52:43+00:00

 [656 rows x 6 columns],
 '(10)WARGPX.csv':      Name  Latitude  Longitude  Elevation                  DateTime  \
 0     NaN -1.269356  36.758316    1768.48 2024-02-08 11:23:52+00:00
 1     NaN -1.269346  36.758325    1774.25 2024-02-08 11:24:12+00:00
 2     NaN -1.269377  36.758348    1780.98 2024-02-08 11:24:32+00:00
 3     NaN -1.269377  36.758380    1784.82 2024-02-08 11:24:52+00:00
 4     NaN -1.269362  36.758386    1785.79 2024-02-08 11:25:12+00:00
 ..    ...       ...        ...        ...                       ...
 632   NaN -1.269372  36.758519    1788.19 2024-02-08 14:54:32+00:00
 633   NaN -1.269370  36.758419    1786.75 2024-02-08 14:54:52+00:00
 634   NaN -1.269370  36.758332    1781.94 2024-02-08 14:55:12+00:00
 635   NaN -1.269352  36.758315    1776.17 2024-02-08 14:55:32+00:00
 636   NaN -1.269390  36.758428    1769.92 2024-02-08 14:55:52+00:00

               Actual_Datetime
 0   2024-02-08 14:23:52+00:00
 1   2024-02-08 14:24:12+00:00
 2   2024-02-08 14:24:32+00:00
 3   2024-02-08 14:24:52+00:00
 4   2024-02-08 14:25:12+00:00
 ..                        ...
 632 2024-02-08 17:54:32+00:00
 633 2024-02-08 17:54:52+00:00
 634 2024-02-08 17:55:12+00:00
 635 2024-02-08 17:55:32+00:00
 636 2024-02-08 17:55:52+00:00

 [637 rows x 6 columns],
 '(8)WARGPX.csv':      Name  Latitude  Longitude  Elevation                  DateTime  \
 0     NaN -1.269380  36.758331    1750.70 2024-02-08 11:22:22+00:00
 1     NaN -1.269368  36.758326    1758.87 2024-02-08 11:22:42+00:00
 2     NaN -1.269359  36.758329    1770.89 2024-02-08 11:23:02+00:00
 3     NaN -1.269385  36.758320    1789.63 2024-02-08 11:23:22+00:00
 4     NaN -1.269349  36.758347    1790.59 2024-02-08 11:23:42+00:00
 ..    ...       ...        ...        ...                       ...
 646   NaN -1.269313  36.758531    1785.31 2024-02-08 14:57:43+00:00
 647   NaN -1.269420  36.758536    1782.90 2024-02-08 14:58:03+00:00
 648   NaN -1.269359  36.758479    1781.94 2024-02-08 14:58:23+00:00
 649   NaN -1.269375  36.758473    1777.61 2024-02-08 14:58:43+00:00
 650   NaN -1.269400  36.758483    1775.69 2024-02-08 14:59:03+00:00

               Actual_Datetime
 0   2024-02-08 14:22:22+00:00
 1   2024-02-08 14:22:42+00:00
 2   2024-02-08 14:23:02+00:00
 3   2024-02-08 14:23:22+00:00
 4   2024-02-08 14:23:42+00:00
 ..                        ...
 646 2024-02-08 17:57:43+00:00
 647 2024-02-08 17:58:03+00:00
 648 2024-02-08 17:58:23+00:00
 649 2024-02-08 17:58:43+00:00
 650 2024-02-08 17:59:03+00:00

 [651 rows x 6 columns],
 '(4)WARGPX.csv':      Name  Latitude  Longitude  Elevation                  DateTime  \
 0     NaN -1.269370  36.758403    1764.64 2024-02-08 11:02:39+00:00
 1     NaN -1.269342  36.758345    1775.21 2024-02-08 11:02:59+00:00
 2     NaN -1.269355  36.758278    1782.42 2024-02-08 11:03:19+00:00
 3     NaN -1.269366  36.758300    1786.75 2024-02-08 11:03:39+00:00
 4     NaN -1.269372  36.758301    1787.71 2024-02-08 11:03:59+00:00
 ..    ...       ...        ...        ...                       ...
 691   NaN -1.269383  36.758447    1779.06 2024-02-08 14:52:59+00:00
 692   NaN -1.269396  36.758470    1778.58 2024-02-08 14:53:19+00:00
 693   NaN -1.269401  36.758437    1777.13 2024-02-08 14:53:39+00:00
 694   NaN -1.269361  36.758461    1777.13 2024-02-08 14:53:59+00:00
 695   NaN -1.269371  36.758404    1775.69 2024-02-08 14:54:19+00:00

               Actual_Datetime
 0   2024-02-08 14:02:39+00:00
 1   2024-02-08 14:02:59+00:00
 2   2024-02-08 14:03:19+00:00
 3   2024-02-08 14:03:39+00:00
 4   2024-02-08 14:03:59+00:00
 ..                        ...
 691 2024-02-08 17:52:59+00:00
 692 2024-02-08 17:53:19+00:00
 693 2024-02-08 17:53:39+00:00
 694 2024-02-08 17:53:59+00:00
 695 2024-02-08 17:54:19+00:00

 [696 rows x 6 columns]}

In [ ]:
desired_date = pd.to_datetime('2024-02-08').date()
filtered_date = {}
for file_name, df in output_dict.items():
    filtered_df = df[df['Actual_Datetime'].dt.date == desired_date]
    filtered_date[file_name] = filtered_df
    filtered_date['(1)WARGPX.csv']

,Name,Latitude,Longitude,Elevation,DateTime,Actual_Datetime
0,NaN,-1.269488,36.758411,1823.76,2024-02-08 11:16:31+00:00,2024-02-08 14:16:31+00:00
1,NaN,-1.269424,36.758349,1811.74,2024-02-08 11:16:42+00:00,2024-02-08 14:16:42+00:00
2,NaN,-1.269413,36.758348,1804.05,2024-02-08 11:16:52+00:00,2024-02-08 14:16:52+00:00
3,NaN,-1.269387,36.758343,1798.28,2024-02-08 11:17:02+00:00,2024-02-08 14:17:02+00:00
4,NaN,-1.269381,36.758332,1797.32,2024-02-08 11:17:12+00:00,2024-02-08 14:17:12+00:00
...,...,...,...,...,...,...
1323,NaN,-1.269396,36.758539,1806.45,2024-02-08 14:57:02+00:00,2024-02-08 17:57:02+00:00
1324,NaN,-1.269394,36.758564,1804.53,2024-02-08 14:57:12+00:00,2024-02-08 17:57:12+00:00
1325,NaN,-1.269397,36.758561,1800.69,2024-02-08 14:57:22+00:00,2024-02-08 17:57:22+00:00
1326,NaN,-1.269405,36.758543,1798.76,2024-02-08 14:57:32+00:00,2024-02-08 17:57:32+00:00
1327,NaN,-1.269428,36.758513,1798.28,2024-02-08 14:57:42+00:00,2024-02-08 17:57:42+00:00

In [ ]:
# FILTERING TIME Keeping only FROM 15.10 TO 16.10
def filtered_Time(df):
    return df[
        ((df['Actual_Datetime'].dt.hour == 15) & (df['Actual_Datetime'].dt.minute >= 10)) |
        ((df['Actual_Datetime'].dt.hour == 16) & (df['Actual_Datetime'].dt.minute <= 50))
    ]
filtered_time = {}
for file_name, df in filtered_date.items():
    filtered_time_df = filtered_Time(df)
    filtered_time[file_name] = filtered_time_df
    filtered_time['(1)WARGPX.csv']

,Name,Latitude,Longitude,Elevation,DateTime,Actual_Datetime
321,NaN,-1.262708,36.753655,1829.53,2024-02-08 12:10:02+00:00,2024-02-08 15:10:02+00:00
322,NaN,-1.262698,36.753742,1829.05,2024-02-08 12:10:12+00:00,2024-02-08 15:10:12+00:00
323,NaN,-1.262696,36.753832,1829.53,2024-02-08 12:10:22+00:00,2024-02-08 15:10:22+00:00
324,NaN,-1.262777,36.753869,1829.05,2024-02-08 12:10:32+00:00,2024-02-08 15:10:32+00:00
325,NaN,-1.262880,36.753849,1829.53,2024-02-08 12:10:42+00:00,2024-02-08 15:10:42+00:00
...,...,...,...,...,...,...
922,NaN,-1.263543,36.751334,1840.58,2024-02-08 13:50:12+00:00,2024-02-08 16:50:12+00:00
923,NaN,-1.263648,36.751328,1840.10,2024-02-08 13:50:22+00:00,2024-02-08 16:50:22+00:00
924,NaN,-1.263737,36.751344,1837.70,2024-02-08 13:50:32+00:00,2024-02-08 16:50:32+00:00
925,NaN,-1.263763,36.751433,1836.26,2024-02-08 13:50:42+00:00,2024-02-08 16:50:42+00:00
926,NaN,-1.263778,36.751519,1835.77,2024-02-08 13:50:52+00:00,2024-02-08 16:50:52+00:00

In [ ]:
Filtered = {}

for file_name, df in filtered_time.items():
    df["uID"] = range(len(df))
    Filtered[file_name] = df

/tmp/ipykernel_479/2112206671.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["uID"] = range(len(df))  # Add a 'uID' column to each DataFrame
/tmp/ipykernel_479/2112206671.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["uID"] = range(len(df))  # Add a 'uID' column to each DataFrame
/tmp/ipykernel_479/2112206671.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["uID"] = range(len(df))  # Add a 'uID' column to each DataFrame
/tmp/ipykernel_479/2112206671.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["uID"] = range(len(df))  # Add a 'uID' column to each DataFrame
/tmp/ipykernel_479/2112206671.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["uID"] = range(len(df))  # Add a 'uID' column to each DataFrame
/tmp/ipykernel_479/2112206671.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["uID"] = range(len(df))  # Add a 'uID' column to each DataFrame
/tmp/ipykernel_479/2112206671.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["uID"] = range(len(df))  # Add a 'uID' column to each DataFrame
/tmp/ipykernel_479/2112206671.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["uID"] = range(len(df))  # Add a 'uID' column to each DataFrame
/tmp/ipykernel_479/2112206671.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["uID"] = range(len(df))  # Add a 'uID' column to each DataFrame
/tmp/ipykernel_479/2112206671.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["uID"] = range(len(df))  # Add a 'uID' column to each DataFrame

In [ ]:
for file_name, df in Filtered.items():
    df.drop(columns=['Name'], inplace=True)
    Filtered[file_name] = df

/tmp/ipykernel_479/2880378432.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Name'], inplace=True)
/tmp/ipykernel_479/2880378432.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Name'], inplace=True)
/tmp/ipykernel_479/2880378432.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Name'], inplace=True)
/tmp/ipykernel_479/2880378432.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Name'], inplace=True)
/tmp/ipykernel_479/2880378432.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Name'], inplace=True)
/tmp/ipykernel_479/2880378432.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Name'], inplace=True)
/tmp/ipykernel_479/2880378432.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Name'], inplace=True)
/tmp/ipykernel_479/2880378432.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Name'], inplace=True)
/tmp/ipykernel_479/2880378432.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Name'], inplace=True)
/tmp/ipykernel_479/2880378432.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Name'], inplace=True)

In [ ]:
for file_name, df in Filtered.items():
    csv_file_path = os.path.join(output_directory, file_name.replace('.csv', '_filtered.csv'))
    df.to_csv(csv_file_path, index=False)

In [ ]:
##Filtering for KES

In [ ]:
directory = '/home/jovyan/Thesis /PREPROCESSING AT /Filtering and Matching/WARUKU/KESTREL_RAW'
KESdfs = {}
for file_name in os.listdir(directory):
    if file_name.endswith('.csv'):
        file_path = os.path.join(directory, file_name)
        df_name = os.path.splitext(file_name)[0]
        KESdfs[df_name] = pd.read_csv(file_path)

In [ ]:
for df_name, df in KESdfs.items():
    KESdfs[df_name] = df.iloc[1:]
    KESdfs['1_Feb_10_2024_2_56_40_PM']

,FORMATTED DATE_TIME,Temperature,Relative Humidity,Heat Index,Dew Point,Data Type,Record name,Start time,Duration (H:M:S),Location description,Location address,Location coordinates,Notes
1,2/2/2024 15:15:20,95.2,34.6,99.1,63,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN
2,2/2/2024 15:15:30,95.5,36.3,100.4,64.5,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN
3,2/2/2024 15:15:40,94.9,32.5,97.5,60.9,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN
4,2/2/2024 15:15:50,95.2,30.9,97.2,59.7,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN
5,2/2/2024 15:16:00,95.6,31.3,97.9,60.4,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5832,2/10/2024 14:56:00,90.6,67.1,107.4,78.2,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN
5833,2/10/2024 14:56:10,90.6,67,107.2,78.2,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN
5834,2/10/2024 14:56:20,90.6,66.9,107.2,78.1,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN
5835,2/10/2024 14:56:30,90.7,66.9,107.8,78.2,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN
5836,2/10/2024 14:56:40,90.7,66.9,107.8,78.2,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN

In [ ]:
for df_name, df in KESdfs.items():
     KESdfs[df_name]['Actual_Datetime'] = pd.to_datetime(df['FORMATTED DATE_TIME'])
     KESdfs['1_Feb_10_2024_2_56_40_PM'].head(5)

,FORMATTED DATE_TIME,Temperature,Relative Humidity,Heat Index,Dew Point,Data Type,Record name,Start time,Duration (H:M:S),Location description,Location address,Location coordinates,Notes,Actual_Datetime
1,2/2/2024 15:15:20,95.2,34.6,99.1,63,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-02 15:15:20
2,2/2/2024 15:15:30,95.5,36.3,100.4,64.5,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-02 15:15:30
3,2/2/2024 15:15:40,94.9,32.5,97.5,60.9,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-02 15:15:40
4,2/2/2024 15:15:50,95.2,30.9,97.2,59.7,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-02 15:15:50
5,2/2/2024 15:16:00,95.6,31.3,97.9,60.4,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-02 15:16:00

In [ ]:
for df_name, df in KESdfs.items():
    KESdfs[df_name]['Temperature'] = pd.to_numeric(df['Temperature'], errors='coerce')
    KESdfs[df_name]['Heat Index'] = pd.to_numeric(df['Heat Index'], errors='coerce')
    KESdfs[df_name]['Dew Point'] = pd.to_numeric(df['Dew Point'], errors='coerce')
    KESdfs['1_Feb_10_2024_2_56_40_PM'].head(5)

,FORMATTED DATE_TIME,Temperature,Relative Humidity,Heat Index,Dew Point,Data Type,Record name,Start time,Duration (H:M:S),Location description,Location address,Location coordinates,Notes,Actual_Datetime
1,2/2/2024 15:15:20,95.2,34.6,99.1,63.0,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-02 15:15:20
2,2/2/2024 15:15:30,95.5,36.3,100.4,64.5,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-02 15:15:30
3,2/2/2024 15:15:40,94.9,32.5,97.5,60.9,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-02 15:15:40
4,2/2/2024 15:15:50,95.2,30.9,97.2,59.7,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-02 15:15:50
5,2/2/2024 15:16:00,95.6,31.3,97.9,60.4,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-02 15:16:00

In [ ]:
for df_name, df in KESdfs.items():
    KESdfs[df_name]['Temperature°C'] = ((df['Temperature'] - 32) * 5/9).round(2)
    KESdfs[df_name]['HeatIndex°C'] = ((df['Heat Index'] - 32) * 5/9).round(2)
    KESdfs[df_name]['DewPoint°C'] = ((df['Dew Point'] - 32) * 5/9).round(2)

/tmp/ipykernel_479/1288416308.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  KESdfs[df_name]['Temperature°C'] = ((df['Temperature'] - 32) * 5/9).round(2)
/tmp/ipykernel_479/1288416308.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  KESdfs[df_name]['HeatIndex°C'] = ((df['Heat Index'] - 32) * 5/9).round(2)
/tmp/ipykernel_479/1288416308.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  KESdfs[df_name]['DewPoint°C'] = ((df['Dew Point'] - 32) * 5/9).round(2)

In [ ]:
desired_date = pd.to_datetime('2024/02/08').normalize()
filt_date = {}
for df_name, df in KESdfs.items():
    filt_df = df.loc[df['Actual_Datetime'].dt.date == desired_date.date()]
    filt_date[df_name] = filt_df
    filt_date['1_Feb_10_2024_2_56_40_PM']

,FORMATTED DATE_TIME,Temperature,Relative Humidity,Heat Index,Dew Point,Data Type,Record name,Start time,Duration (H:M:S),Location description,Location address,Location coordinates,Notes,Actual_Datetime,Temperature°C,HeatIndex°C,DewPoint°C
4158,2/8/2024 11:03:50,79.8,50.9,79.7,60.0,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 11:03:50,26.56,26.50,15.56
4159,2/8/2024 11:04:00,80.0,50.8,79.7,60.1,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 11:04:00,26.67,26.50,15.61
4160,2/8/2024 11:04:10,80.0,50.5,79.7,60.0,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 11:04:10,26.67,26.50,15.56
4161,2/8/2024 11:04:20,80.2,50.2,80.1,60.0,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 11:04:20,26.78,26.72,15.56
4162,2/8/2024 11:04:30,80.2,50.1,80.1,59.9,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 11:04:30,26.78,26.72,15.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5815,2/8/2024 17:40:00,80.0,48.6,79.5,58.9,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 17:40:00,26.67,26.39,14.94
5816,2/8/2024 17:40:10,80.0,48.6,79.5,58.9,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 17:40:10,26.67,26.39,14.94
5817,2/8/2024 17:40:20,80.0,48.6,79.5,58.8,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 17:40:20,26.67,26.39,14.89
5818,2/8/2024 17:40:30,79.8,48.5,79.3,58.7,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 17:40:30,26.56,26.28,14.83
5819,2/8/2024 17:40:40,81.0,51.4,81.3,61.4,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 17:40:40,27.22,27.39,16.33

In [ ]:
# FILTERING TIME Keeping  15.10 TO 16.10
def filt_Time(df):
    return df[
        ((df['Actual_Datetime'].dt.hour == 15) & (df['Actual_Datetime'].dt.minute >= 10)) |
        ((df['Actual_Datetime'].dt.hour == 16) & (df['Actual_Datetime'].dt.minute <= 50))
    ]
filt_time = {}
for df_name, df in filt_date.items():
    filt_time_df = filt_Time(df)
    filt_time[df_name] = filt_time_df
    filt_time['1_Feb_10_2024_2_56_40_PM']

,FORMATTED DATE_TIME,Temperature,Relative Humidity,Heat Index,Dew Point,Data Type,Record name,Start time,Duration (H:M:S),Location description,Location address,Location coordinates,Notes,Actual_Datetime,Temperature°C,HeatIndex°C,DewPoint°C
4915,2/8/2024 15:10:00,81.4,39.1,79.7,54.1,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 15:10:00,27.44,26.50,12.28
4916,2/8/2024 15:10:10,82.5,39.2,81.0,55.2,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 15:10:10,28.06,27.22,12.89
4917,2/8/2024 15:10:20,83.4,39.1,82.2,56.0,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 15:10:20,28.56,27.89,13.33
4918,2/8/2024 15:10:30,83.4,39,82.2,55.9,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 15:10:30,28.56,27.89,13.28
4919,2/8/2024 15:10:40,82.0,38.8,80.1,54.5,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 15:10:40,27.78,26.72,12.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5516,2/8/2024 16:50:10,75.0,52.8,73.9,56.6,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 16:50:10,23.89,23.28,13.67
5517,2/8/2024 16:50:20,75.1,53,74.1,56.8,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 16:50:20,23.94,23.39,13.78
5518,2/8/2024 16:50:30,74.9,53,73.9,56.6,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 16:50:30,23.83,23.28,13.67
5519,2/8/2024 16:50:40,75.9,53.2,75.0,57.7,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 16:50:40,24.39,23.89,14.28
5520,2/8/2024 16:50:50,76.2,53.3,75.2,58.0,point,NaN,NaN,NaN,PHONE/TABLET LOCATION,NaN,NaN,NaN,2024-02-08 16:50:50,24.56,24.00,14.44

In [ ]:
for df_name, df in filt_time.items():
    columns_to_drop = ['Notes', 'Data Type', 'Temperature', 'Heat Index', 'Dew Point',
                       'Location coordinates', 'Location address', 'Location description',
                       'Duration (H:M:S)', 'Start time', 'Record name']
    df.drop(columns=columns_to_drop, inplace=True)
    filt_time['1_Feb_10_2024_2_56_40_PM']

,FORMATTED DATE_TIME,Relative Humidity,Actual_Datetime,Temperature°C,HeatIndex°C,DewPoint°C
4915,2/8/2024 15:10:00,39.1,2024-02-08 15:10:00,27.44,26.50,12.28
4916,2/8/2024 15:10:10,39.2,2024-02-08 15:10:10,28.06,27.22,12.89
4917,2/8/2024 15:10:20,39.1,2024-02-08 15:10:20,28.56,27.89,13.33
4918,2/8/2024 15:10:30,39,2024-02-08 15:10:30,28.56,27.89,13.28
4919,2/8/2024 15:10:40,38.8,2024-02-08 15:10:40,27.78,26.72,12.50
...,...,...,...,...,...,...
5516,2/8/2024 16:50:10,52.8,2024-02-08 16:50:10,23.89,23.28,13.67
5517,2/8/2024 16:50:20,53,2024-02-08 16:50:20,23.94,23.39,13.78
5518,2/8/2024 16:50:30,53,2024-02-08 16:50:30,23.83,23.28,13.67
5519,2/8/2024 16:50:40,53.2,2024-02-08 16:50:40,24.39,23.89,14.28
5520,2/8/2024 16:50:50,53.3,2024-02-08 16:50:50,24.56,24.00,14.44

In [ ]:
for file_name, df in filt_time.items():
    csv_file_path = os.path.join(Output_path_KES, file_name.replace('_PM','WARTEMPFILT.csv'))
    df.to_csv(csv_file_path, index=False)

In [ ]:
## MERGING KESTREL TO GPX DATA

In [ ]:
path1 = '/home/jovyan/Thesis /PREPROCESSING AT /Filtering and Matching/WARUKU/KES_FILT'
name1 = '8WARTEMPFILT.csv'
KERSTREL_df = pd.read_csv(os.path.join(path1,name1))

path2 = '/home/jovyan/Thesis /PREPROCESSING AT /Filtering and Matching/WARUKU/GPX_FILTERED'
name2 = '(8)WARGPX_filtered.csv'
GPX_df = pd.read_csv(os.path.join(path2,name2))

In [ ]:
KERSTREL_df['Actual_Datetime'] = pd.to_datetime(KERSTREL_df['Actual_Datetime'])
GPX_df['Actual_Datetime'] = pd.to_datetime(GPX_df['Actual_Datetime'])
KERSTREL_df

,FORMATTED DATE_TIME,Relative Humidity,Actual_Datetime,Temperature°C,HeatIndex°C,DewPoint°C,TimeSecs
0,2/8/2024 15:10:00,39.8,2024-02-08 15:10:00,31.61,32.50,16.28,54600
1,2/8/2024 15:10:10,36.8,2024-02-08 15:10:10,31.17,31.22,14.67,54610
2,2/8/2024 15:10:20,35.4,2024-02-08 15:10:20,31.00,30.78,13.94,54620
3,2/8/2024 15:10:30,35.9,2024-02-08 15:10:30,31.22,31.22,14.33,54630
4,2/8/2024 15:10:40,35.9,2024-02-08 15:10:40,31.33,31.39,14.44,54640
...,...,...,...,...,...,...,...
601,2/8/2024 16:50:10,45.4,2024-02-08 16:50:10,24.50,23.50,11.89,60610
602,2/8/2024 16:50:20,45.5,2024-02-08 16:50:20,24.83,23.89,12.22,60620
603,2/8/2024 16:50:30,45.5,2024-02-08 16:50:30,24.72,23.78,12.17,60630
604,2/8/2024 16:50:40,45.4,2024-02-08 16:50:40,24.56,23.61,11.94,60640
605,2/8/2024 16:50:50,45.4,2024-02-08 16:50:50,24.61,23.72,12.06,60650

In [ ]:
KERSTREL_df['Actual_Datetime'] = KERSTREL_df['Actual_Datetime'].dt.tz_localize(None)
GPX_df['Actual_Datetime'] = GPX_df['Actual_Datetime'].dt.tz_localize(None)
KERSTREL_df['TimeSecs'] = KERSTREL_df['Actual_Datetime'].dt.hour * 3600  + KERSTREL_df['Actual_Datetime'].dt.minute* 60  + KERSTREL_df['Actual_Datetime'].dt.second
GPX_df['TimeSecs'] = GPX_df['Actual_Datetime'].dt.hour* 3600  + GPX_df['Actual_Datetime'].dt.minute* 60 + GPX_df['Actual_Datetime'].dt.second
KERSTREL_df

,FORMATTED DATE_TIME,Relative Humidity,Actual_Datetime,Temperature°C,HeatIndex°C,DewPoint°C,TimeSecs
0,2/8/2024 15:10:00,39.8,2024-02-08 15:10:00,31.61,32.50,16.28,54600
1,2/8/2024 15:10:10,36.8,2024-02-08 15:10:10,31.17,31.22,14.67,54610
2,2/8/2024 15:10:20,35.4,2024-02-08 15:10:20,31.00,30.78,13.94,54620
3,2/8/2024 15:10:30,35.9,2024-02-08 15:10:30,31.22,31.22,14.33,54630
4,2/8/2024 15:10:40,35.9,2024-02-08 15:10:40,31.33,31.39,14.44,54640
...,...,...,...,...,...,...,...
601,2/8/2024 16:50:10,45.4,2024-02-08 16:50:10,24.50,23.50,11.89,60610
602,2/8/2024 16:50:20,45.5,2024-02-08 16:50:20,24.83,23.89,12.22,60620
603,2/8/2024 16:50:30,45.5,2024-02-08 16:50:30,24.72,23.78,12.17,60630
604,2/8/2024 16:50:40,45.4,2024-02-08 16:50:40,24.56,23.61,11.94,60640
605,2/8/2024 16:50:50,45.4,2024-02-08 16:50:50,24.61,23.72,12.06,60650

In [ ]:

KERSTREL_df = KERSTREL_df.sort_values('Actual_Datetime')
GPX_df = GPX_df.sort_values('Actual_Datetime')s
merged_df = pd.merge_asof(KERSTREL_df, GPX_df, on='Actual_Datetime', direction = 'nearest')

In [ ]:
merged_df

,FORMATTED DATE_TIME,Relative Humidity,Actual_Datetime,Temperature°C,HeatIndex°C,DewPoint°C,TimeSecs_x,Latitude,Longitude,Elevation,DateTime,uID,TimeSecs_y
0,2/8/2024 15:10:00,39.8,2024-02-08 15:10:00,31.61,32.50,16.28,54600,-1.282197,36.752509,1806.94,2024-02-08 12:10:03+00:00,0,54603
1,2/8/2024 15:10:10,36.8,2024-02-08 15:10:10,31.17,31.22,14.67,54610,-1.282197,36.752509,1806.94,2024-02-08 12:10:03+00:00,0,54603
2,2/8/2024 15:10:20,35.4,2024-02-08 15:10:20,31.00,30.78,13.94,54620,-1.282183,36.752488,1808.86,2024-02-08 12:10:23+00:00,1,54623
3,2/8/2024 15:10:30,35.9,2024-02-08 15:10:30,31.22,31.22,14.33,54630,-1.282183,36.752488,1808.86,2024-02-08 12:10:23+00:00,1,54623
4,2/8/2024 15:10:40,35.9,2024-02-08 15:10:40,31.33,31.39,14.44,54640,-1.282201,36.752480,1809.82,2024-02-08 12:10:43+00:00,2,54643
...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,2/8/2024 16:50:10,45.4,2024-02-08 16:50:10,24.50,23.50,11.89,60610,-1.281987,36.755657,1799.24,2024-02-08 13:50:03+00:00,300,60603
602,2/8/2024 16:50:20,45.5,2024-02-08 16:50:20,24.83,23.89,12.22,60620,-1.282018,36.755557,1799.73,2024-02-08 13:50:23+00:00,301,60623
603,2/8/2024 16:50:30,45.5,2024-02-08 16:50:30,24.72,23.78,12.17,60630,-1.282018,36.755557,1799.73,2024-02-08 13:50:23+00:00,301,60623
604,2/8/2024 16:50:40,45.4,2024-02-08 16:50:40,24.56,23.61,11.94,60640,-1.282050,36.755458,1801.17,2024-02-08 13:50:43+00:00,302,60643
605,2/8/2024 16:50:50,45.4,2024-02-08 16:50:50,24.61,23.72,12.06,60650,-1.282050,36.755458,1801.17,2024-02-08 13:50:43+00:00,302,60643

In [ ]:
weights = []
for index, row in merged_df.iterrows():
    time_diff_seconds = np.abs(row['TimeSecs_y'] - row['TimeSecs_x'])
    weight = 1 / time_diff_seconds
    weights.append(weight)
merged_df['weight'] = weights
merged_df

,FORMATTED DATE_TIME,Relative Humidity,Actual_Datetime,Temperature°C,HeatIndex°C,DewPoint°C,TimeSecs_x,Latitude,Longitude,Elevation,DateTime,uID,TimeSecs_y,weight
0,2/8/2024 15:10:00,39.8,2024-02-08 15:10:00,31.61,32.50,16.28,54600,-1.282197,36.752509,1806.94,2024-02-08 12:10:03+00:00,0,54603,0.333333
1,2/8/2024 15:10:10,36.8,2024-02-08 15:10:10,31.17,31.22,14.67,54610,-1.282197,36.752509,1806.94,2024-02-08 12:10:03+00:00,0,54603,0.142857
2,2/8/2024 15:10:20,35.4,2024-02-08 15:10:20,31.00,30.78,13.94,54620,-1.282183,36.752488,1808.86,2024-02-08 12:10:23+00:00,1,54623,0.333333
3,2/8/2024 15:10:30,35.9,2024-02-08 15:10:30,31.22,31.22,14.33,54630,-1.282183,36.752488,1808.86,2024-02-08 12:10:23+00:00,1,54623,0.142857
4,2/8/2024 15:10:40,35.9,2024-02-08 15:10:40,31.33,31.39,14.44,54640,-1.282201,36.752480,1809.82,2024-02-08 12:10:43+00:00,2,54643,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,2/8/2024 16:50:10,45.4,2024-02-08 16:50:10,24.50,23.50,11.89,60610,-1.281987,36.755657,1799.24,2024-02-08 13:50:03+00:00,300,60603,0.142857
602,2/8/2024 16:50:20,45.5,2024-02-08 16:50:20,24.83,23.89,12.22,60620,-1.282018,36.755557,1799.73,2024-02-08 13:50:23+00:00,301,60623,0.333333
603,2/8/2024 16:50:30,45.5,2024-02-08 16:50:30,24.72,23.78,12.17,60630,-1.282018,36.755557,1799.73,2024-02-08 13:50:23+00:00,301,60623,0.142857
604,2/8/2024 16:50:40,45.4,2024-02-08 16:50:40,24.56,23.61,11.94,60640,-1.282050,36.755458,1801.17,2024-02-08 13:50:43+00:00,302,60643,0.333333
605,2/8/2024 16:50:50,45.4,2024-02-08 16:50:50,24.61,23.72,12.06,60650,-1.282050,36.755458,1801.17,2024-02-08 13:50:43+00:00,302,60643,0.142857

In [ ]:
def weighted_mean(group):
    weighted_temp = np.average(group['Temperature°C'], weights=group['weight'])
    weighted_H_ind = np.average(group['HeatIndex°C'], weights=group['weight'])
    weighted_Dew = np.average(group['DewPoint°C'], weights=group['weight'])
    other_attributes = {}
    for column in group.columns:
        if column not in ['Latitude', 'Longitude', 'Temperature°C','HeatIndex°C', 'DewPoint°C','weight']:
            other_attributes[column] = group[column].iloc[0]
    result = pd.Series({'WMean_Temp': weighted_temp,'WMean_HeatInd' : weighted_H_ind,'WMean_Dew' : weighted_Dew, **other_attributes})

    return result
grouped_df = merged_df.groupby(['Latitude', 'Longitude']).apply(weighted_mean).reset_index()
grouped_df.drop(columns=[ 'DateTime', 'uID', 'TimeSecs_x', 'FORMATTED DATE_TIME'], inplace=True)
grouped_df.sort_values(by = 'Actual_Datetime')

,Latitude,Longitude,WMean_Temp,WMean_HeatInd,WMean_Dew,FORMATTED DATE_TIME,Relative Humidity,Actual_Datetime,TimeSecs_x,Elevation,DateTime,uID,TimeSecs_y
24,-1.282197,36.752509,31.478,32.116,15.797,2/8/2024 15:10:00,39.8,2024-02-08 15:10:00,54600,1806.94,2024-02-08 12:10:03+00:00,0,54603
26,-1.282183,36.752488,31.066,30.912,14.057,2/8/2024 15:10:20,35.4,2024-02-08 15:10:20,54620,1808.86,2024-02-08 12:10:23+00:00,1,54623
23,-1.282201,36.752480,31.165,31.123,14.308,2/8/2024 15:10:40,35.9,2024-02-08 15:10:40,54640,1809.82,2024-02-08 12:10:43+00:00,2,54643
27,-1.282172,36.752454,30.172,29.696,13.407,2/8/2024 15:11:00,35.9,2024-02-08 15:11:00,54660,1811.74,2024-02-08 12:11:03+00:00,3,54663
16,-1.282250,36.752452,30.399,30.194,14.066,2/8/2024 15:11:20,36.9,2024-02-08 15:11:20,54680,1813.18,2024-02-08 12:11:23+00:00,4,54683
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,-1.281914,36.755856,25.077,24.110,12.482,2/8/2024 16:49:20,45.5,2024-02-08 16:49:20,60560,1797.32,2024-02-08 13:49:23+00:00,298,60563
38,-1.281955,36.755745,24.958,24.033,12.476,2/8/2024 16:49:40,45.8,2024-02-08 16:49:40,60580,1798.28,2024-02-08 13:49:43+00:00,299,60583
36,-1.281987,36.755657,24.542,23.577,12.009,2/8/2024 16:50:00,45.6,2024-02-08 16:50:00,60600,1799.24,2024-02-08 13:50:03+00:00,300,60603
35,-1.282018,36.755557,24.797,23.857,12.205,2/8/2024 16:50:20,45.5,2024-02-08 16:50:20,60620,1799.73,2024-02-08 13:50:23+00:00,301,60623
33,-1.282050,36.755458,24.575,23.643,11.976,2/8/2024 16:50:40,45.4,2024-02-08 16:50:40,60640,1801.17,2024-02-08 13:50:43+00:00,302,60643

In [ ]:
grouped_df.to_csv(os.path.join(directory, '8WARMERGEDFIN.csv'), index=False)